body {
  background-color: #2c2b3d;
}

.page {
  width: 1280px;
  height: 720px;
  margin: 0 auto 0;
  min-width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1083px;
  margin: 0 90px auto;
}

nav ul {
  display: flex;
  gap: 64px;
  align-items: center;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 84px;
  width: 1092px;
  margin: 100px 90px auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section h1 {
  color: #fff;
  font-size: 36px;
  font-family: "JetBrains Mono", monospace;
  line-height: 40px;
}

section h1 span {
  color: #00bfa6;
}

section {
  font-size: 16px;
  line-height: 28px;
  color: #c2c2c2;
  font-family: "Open Sans", sans-serif;
}

section p span {
  color: #c2c2c2;
  font-weight: bold;
}
section p .si {
  color: #00bfa6;
  font-weight: bold;
}

.line {
  border: 1px solid #00bfa6;
  width: 568px;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  line-height: 28px;
  width: 568px;
  text-align: center;
}

#divFooter {
  align-self: center;
  margin-left: calc(100% - 51px);
}
